<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>

<h1><%= @post.title %></h1>
<%= @post.body.html_safe %>

<% if Refinery::Blog::Post::ShareThis.enabled? %>
  <span class="st_sharethis" displayText="ShareThis"></span>
<% end %>

<%= render '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>
