<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <head>
    <meta name="msvalidate.01" content="E2EAFDBBC9D1570C6107804DEAF5B527" />
    <meta name='yandex-verification' content='4215977f747a594c' />

    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= render "/refinery/header" -%>

    <%= yield %>

    <%= render "/refinery/footer" -%>
    <%= render "/refinery/javascripts" %>
  </body>
</html>

